
/* DeXa CSS Cookbook Theme ~Github~ - made by i386 DX*/
/* See README for how to use it ;) */

@font-face {
 src: url("../assets/fonts/roboto") format("ttf");
 font-family: Roboto;
}
@font-face {
 src: url("../assets/fonts/robotobd") format("ttf");
 font-family: Roboto;
 font-weight: bold;
}
@font-face {
 src: url("./fonts/ssanspro") format("ttf");
 font-family: "Source Sans Pro";
}
@font-face {
 src: url("./fonts/ssprobd") format("ttf");
 font-family: "Source Sans Pro";
 font-weight: bold;
}
@font-face {
 src: url("./fonts/ssansprolt") format("ttf");
 font-family: "Source Sans Pro";
 font-weight: 300;
}
* {
 font-family: Roboto, Arial, sans-serif;
 /* border: 1px solid white;
 outline: 1px solid black; */
}
html {
 background-color: #C0C0C0;
 background-image: url("../assets/bg.png");
}
body {
 background-color: #f0f0f0;
 background-color: rgba(255,255,255,0.9);
 margin: initial;
 padding: 0.5em;
 box-shadow: 0px 0px 10px black;
}
.recipe-title {
 background-color: rgba(255,255,255,0);
 font-family: 'Source Sans Pro', Calibri, Arial, sans-serif;
 margin: initial;
 margin-bottom: 2px;
 text-align: center;
}
.recipe-image {
 background-color: rgba(0,0,0,0.12);
}
.recipe-details {
 background-color: black;
 display: block;
 padding: 0.1em;
 text-align: center;
}
.recipe-details-portion, .recipe-details-time,
.recipe-details-cal {
 display: inline-block;
 color: white; 
 background-color: black;
 font: 20px 'Source Sans Pro Light', 'Source Sans Pro', Arial, sans-serif;
 font-weight: 300;
 padding: 2px;
}
.recipe-details-portion::after {
 display: block;
 font-family: Roboto, Arial, sans-serif;
 font-size: 9px;
 font-weight: normal;
 content: "porsi";
}
ol li::marker {
 color: rgba(0,0,0,0.5);
 font-family: 'Source Sans Pro', Calibri, Arial, sans-serif;
 font-size: 1.1em;
 font-weight: bold;
}
ul li::marker {
 color: rgba(0,0,0,0.5);
 margin-left: 1px;
}
li {
 margin-bottom: 2px;
}
.recipe-ingredients::before, .recipe-steps::before {
 color: rgba(0,0,0,0.5);
 display: block;
 font-family: 'Source Sans Pro', Calibri, Arial, sans-serif;
 font-size: 1.25em;
 font-weight: bold;
}
.recipe-ingredients::before {
 position: relative;
 left: -20px;
 content: "bahan:"
}
.recipe-ingredients {
 list-style-type: disc;
 padding-left: 25px;
 padding-right: 10px;
}
.recipe-steps::before {
 content: "cara membuat:";
 margin-left: -20px;
}
.recipe-steps {
 padding-left: 25px;
 padding-right: 10px;
}
@media only screen and (max-width: 300px) {
 * {font-size: 10px}
 h1 {font-size: 18px}
 .recipe-details-portion, .recipe-details-time,
 .recipe-details-cal {font-size: 20px}
 .recipe-details-portion, .recipe-details-time,
 .recipe-details-cal::after {font-size: 9pt};
}
@media only screen and (min-width: 481px) {
 body {width: 480px; margin: auto;}
}
